.meus-filmes {
    margin-top: 100px;
}

.meus-filmes h1 {
    color: #eee;
    margin-bottom: 20px;
}

.meus-filmes ul {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
   gap: 20px;
}

.meus-filmes ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #12121A;
    padding: 20px;
    border-radius: 10px;
    color: #eee;
}

.meus-filmes ul li div {
    display: flex;
    gap: 20px;
}

.meus-filmes ul li .detalhes {
    text-decoration: none;
    color: #fff;
    background-color: rgba(65, 105, 225, 0.6);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 300ms ease-in-out;
    text-align: center;
}

.meus-filmes ul li .detalhes:hover {
    opacity: .8;
}

.meus-filmes ul li .excluir {
    font-size: 22px;
    color: #c93434;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.meus-filmes ul li .excluir:hover {
    color: #ff7272;
}

.sem-filmes {
    color: #eee;
}